<!-- LIGHT SECTION-->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>Product Grid View</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="#index.html">Home</a>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active">Product Grid Left Sidebar</li>
        </ol>
      </div>
    </div>
  </div>
</section>





<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">Product categories</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <li>
                  <a href="#javascript:;" data-toggle="collapse" data-target="#women">Women <i class="fa fa-plus"></i></a>
                  <ul id="women" class="collapse collapseItem">
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#javascript:;" data-toggle="collapse" data-target="#men">Men <i class="fa fa-plus"></i></a>
                  <ul id="men" class="collapse collapseItem">
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#javascript:;" data-toggle="collapse" data-target="#kids">Kids <i class="fa fa-plus"></i></a>
                  <ul id="kids" class="collapse collapseItem">
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#javascript:;" data-toggle="collapse" data-target="#accessories">Accessories <i class="fa fa-plus"></i></a>
                  <ul id="accessories" class="collapse collapseItem">
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default priceRange">
          <div class="panel-heading">Filter by Price</div>
          <div class="panel-body clearfix">
            <div class="price-slider-inner">
              <span class="amount-wrapper">
                      Price:
                      <input type="text" id="price-amount-1" readonly>
                      <strong>-</strong>
                      <input type="text" id="price-amount-2" readonly>
                    </span>
              <div id="price-range"></div>
            </div>
            <input class="btn btn-default" type="submit" value="Filter">
            <!-- <span class="priceLabel">Price: <strong>$12 - $30</strong></span> -->
          </div>
        </div>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">filter by Color</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="#">Black<span>(15)</span></a></li>
              <li><a href="#">White<span>(10)</span></a></li>
              <li><a href="#">Red<span>(7)</span></a></li>
              <li><a href="#">Blue<span>(12)</span></a></li>
              <li><a href="#">Orange<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">filter by Size</div>
          <div class="panel-body">
            <ul class="list-unstyled clearfix">
              <li><a href="#">Small<span>(15)</span></a></li>
              <li><a href="#">Medium<span>(10)</span></a></li>
              <li><a href="#">Large<span>(7)</span></a></li>
              <li><a href="#">Extra Large<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <p>Destination </p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well textval">
                <select class="form-control" id="country">
                <option *ngFor="let jsondata of jsondestProd?.countries">{{jsondata.name}}</option>
						</select>
              </div>
            </div>
          </div> <br/>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <p>Select Date & Time</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well textval">
                <owl-date-time [(ngModel)]="moment"></owl-date-time>
              </div>
            </div>
          </div><br/>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <p>Destination </p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well textval">
                <select class="form-control">
              <option>OneTimeMove</option><option>Permanent Move</option>
            </select>
                
              </div>
          <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Pay</button>
                </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>